<h2 class="sidebarheader"> <a href="/index.html">Lance Lafontaine's Internet Home.</a></h2>
<div class="sidebarimg">
	<a href="/index.html"><img src="/img/gravatarpic.jpeg" alt="Headshot Picture."></a>
</div>

<p class="bio">Software engineering student at Concordia University, Montreal. </p>

<div class="hr"></div>

<h4><a href="/about/index.html">About me.</a></h4>
<h4><a href="/resume/index.html">Resume.</a></h4>
<h4><a href="/archive/index.html">All Posts.</a></h4>

<div class="hr"></div>

<div class="icons">
	<a target="_blank" href="https://twitter.com/LanceLafontaine"><i class="fa fa-2x fa-twitter"></i></a>
	<a target="_blank" href="https://www.linkedin.com/pub/lance-lafontaine/41/3b4/750"><i class="fa fa-2x fa-linkedin"></i></a> 
	<a target="_blank" href="https://github.com/lancelafontaine"><i class="fa fa-2x fa-github"></i></a>
	<a target="_blank" href="http://stackexchange.com/users/1137597/lancelafontaine?tab=accounts"><i class="fa fa-2x fa-stack-exchange"></i></a>
	<a target="_blank" href="http://stackoverflow.com/users/2037867/lancelafontaine"><i class="fa fa-2x fa-stack-overflow"></i></a>
	<a target="_blank" href="#"><i class="fa fa-2x fa-rss"></i></a>
</div>

