---
layout: none.
---

{% include header.html %}
  <div class="headerbar">
    <div class="headerpath">
      <span class="prompt">$</span> cd /<a href="/index.html">mainpage</a>/aboutme/
    </div>
  </div>
  <div class="headerwhitespace"></div>

  <div class="container">
    <div class="sidebar col-md-3">
      {% include sidebar.html %}
    </div>
    <div class="col-md-9">
      <div class="main aboutme">
        <!-- CONTENT -->
        <h1>Hello.</h1>
        <p>My name is Lance Lafontaine and I am a software engineering student at Concordia University in Montreal, Canada. I love full-stack web dev, Linux and Unix operating systems, and everything about open source and startups.</p>

        <div class="endofarticle">
          <!-- Start Loading ShareThis Buttons-->
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_googleplus_large' displayText='Google +'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_reddit_large' displayText='Reddit'></span>
          <span class='st_linkedin_large' displayText='LinkedIn'></span>
          <!-- End Loading ShareThis Buttons.-->

          <a class="returnlink btn btn-default" href="/">Back to Main Page.</a>
        </div>
      </div>
    </div>
  </div> 

{% include footer.html %}