{% include header.html %}
<div class="headerbar">
	<div class="headerbarcontents">
		<h1><a href="/">Lance Lafontaine</a></h1>
			
			<div class="container">
			<div class="col-sm-4"></div>
			<div class="icons col-md-4">
				<a target="_blank" href="https://twitter.com/LanceLafontaine"><i class="fa fa-2x fa-twitter"></i></a>
				<a target="_blank" href="https://www.linkedin.com/pub/lance-lafontaine/41/3b4/750"><i class="fa fa-2x fa-linkedin"></i></a> 
				<a target="_blank" href="https://github.com/lancelafontaine"><i class="fa fa-2x fa-github"></i></a>
				<a target="_blank" href="http://stackexchange.com/users/1137597/lancelafontaine?tab=accounts"><i class="fa fa-2x fa-stack-exchange"></i></a>
				<a target="_blank" href="http://stackoverflow.com/users/2037867/lancelafontaine"><i class="fa fa-2x fa-stack-overflow"></i></a>
				<a target="_blank" href="http://lancelafontaine.github.io/feed.xml"><i class="fa fa-2x fa-rss"></i></a>
			</div>
			<div class="col-sm-4"></div>
			</div>
		<p><a href="#">Who Am I?</a></p>
	</div>
</div>
<div class="headerbardivider"></div>

<div class="container">
	<div class="col-md-12">
		<div class="main">
			{{content}}
		</div>
	</div>
	</div>
</div>	
{% include footer.html %}
      