<div class="headerbar">
</div>

{% include header.html %}
<div class="container">
	<div class="col-md-9">
		<div class="main">
			<h1>{{ page.title }}</h1>
			<h3>{{ page.date | date_to_long_string }}</h3>
			<br/>
			<div class="hr"></div>
			<br/>
			{{content}}

			<br/>
			<br/>
			
			<div class="endofarticle">
				<!-- Start Loading ShareThis Buttons-->
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_googleplus_large' displayText='Google +'></span>
				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_reddit_large' displayText='Reddit'></span>
				<span class='st_linkedin_large' displayText='LinkedIn'></span>
				<!-- End Loading ShareThis Buttons.-->

				<a class="returnlink btn btn-default" href="/">Back to Main Page.</a>
			</div>
		</div>
	</div>
<div>	
{% include footer.html %}
      