.wrapper {

  margin: 50px;
  display: inline-block;
}

.cube {
  position: relative;
  transform-origin: 50% 50% -25px;
  transform-style: preserve-3d;
  animation: rotate 80s infinite linear;
  display: inline-block;
}

.side {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: rgba(155,48,255,0.01);
  animation: blink 16s infinite ease;
}

.side2{
  transform: rotatey(90deg);
}

.side3{
  transform: rotatey(-180deg);
}

.side4 {
  transform: rotatey(-90deg);
}

.side5 {
  transform: rotatex(90deg);
}
.side6 {
  transform: rotatex(-90deg);
}

@keyframes rotate {
  to {
    transform: rotate3d(1,1,1,-360deg);
  }
}

@keyframes blink {
  from {
    transform-origin: 50% 50% -10px;
  }
  50% {
    transform-origin: 50% 50% -40px;
  }
  100% {
    transform-origin: 50% 50% -10px;
  }
}
